extends heading

block content
	h2 Employee Name: Ice, Vanilla
	table(border-collapse="collapse", width="100%", bgcolor="gray")
		tr
			td
				img(src="/images/employee.jpg", alt="Employee Image", style="width:236px;height:358px;")
			td(class="two-column", valign="top", bgcolor="white")
				div
					table(border-collapse="collapse", width="100%", bgcolor="pink")
						tr
							td Employee ID: 12345678
						tr
							td Position: Senior Custodial Engineer