extends heading

block content
	h2 Welcome to Employee Directory, your home for managing the people in your organization
	table(border-collapse="none", width="100%")
		tr
			td(class="chart")
				img(src="/images/LineChart.png", alt="Employee Image", style="width:500px;height:350px;")
			td(class="homepage-text", valign="top")
				div
					table(border-collapse="collapse", width="100%", bgcolor="pink")
						tr
							td Track employee productivity
						tr
							td Track employee holiday pay