h1
	color #D99D8F

header
	background #84D9C9
	nav
		text-align left
		margin-left 0px
		margin-right auto
		ul
			list-style none
			padding 10px
			margin-bottom 0
			li
				display inline
				margin-left 1%
				a
					background #4A6D8C
					display inline-block
					padding 5px 15px 6px 
					color #82B8D9
					text-decoration none
					position relative
					cursor pointer
					&:hover
						background-color #F2F2F2

*
	color #82B8D9
	font-family Arial,Helvetica,sans-serif

div
	padding 2px 70px 4px

label
	color #4A6D8C

.two-column
	width 50%
	
.three-column
	width 30%

.search-div
	padding 15px 10px 6px
	
a.button
	background #4A6D8C
	display inline-block
	padding 5px 15px 6px 
	color #82B8D9
	text-decoration none
	position relative
	cursor pointer
	&:hover
		background-color #F2F2F2

input {
	box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0 rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	height: 2em;
}

fieldset
	border 0

ul
	height 30px

.chart
	background #84D9C9

.homepage-text
	width 90%
	
.login-spacer
	height 60px

.rounded-corners
	border-radius 25px
	background #84D9C9
    padding 20px
	width 100%